@using Domain.Entities;
@using Domain.Enums;
@{
    ViewData["Title"] = "Boards";
    List<BoardEntity> boards = ViewBag.Boards;
}


<section>
    @if (boards.Any())
    {
        <h2 class="display-6">Boards</h2>
        <div class="row mt-3">
            @foreach (BoardEntity board in ViewBag.Boards)
            {
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card w-75">
                        <div class="card-body">
                            <h5 class="card-title"><strong>@board.Name</strong></h5>
                            <p class="card-text">@board.Description</p>
                            <section class="d-flex flex-nowrap justify-content-between">
                                <span>
                                    <a asp-area="" asp-controller="Board" asp-action="Index" asp-route-id="@board.Id" asp class="btn btn-primary">View Tasks</a>
                                </span>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Configure
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Finish All Tasks</a></li>
                                        @if (board.Status == BoardState.Active)
                                        {
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SetInactiveState" asp-route-id="SetInactive/@board.Id">Set Inactive Status</a></li>
                                        }
                                        else
                                        {
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SetActiveState" asp-route-id="SetActive/@board.Id">Set Active Status</a></li>
                                        }
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" href="#" style="color: darkred">Delete Board</a></li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h1 class="display-4">We don't have boards</h1>
    }
</section>

<section id="board-dialog">
    <!-- Board Modal -->
    @model Domain.Dtos.BoardDto;
    <div class="modal fade" id="newBoardModal" tabindex="-1" aria-labelledby="newBoardModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newBoardModalLabel">New Board</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-controller="Home" asp-action="NewBoard" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Board Title</label>
                            <input type="text" class="form-control" asp-for="Name">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Description" class="form-label">Board Description</label>
                            <textarea class="form-control" rows="3" asp-for="Description"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function getBoardId(id) {
        alert(id);
    }
</script>